### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [3]:
Player_count = purchase_data["SN"].nunique()

Player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchases = len(purchase_data)

unique_items = purchase_data["Item ID"].nunique()

avg_price = purchase_data["Price"].mean()

revenue = purchase_data["Price"].sum()

summary_df = pd.DataFrame({"Unique Item Count": unique_items, "Average Item Price": avg_price, "Total Purchases": purchases, "Total Item Revenue": revenue}, index=[0])

summary_df

   Unique Item Count  Average Item Price  Total Purchases  Total Item Revenue
0                179            3.050987              780             2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_count = purchase_data.groupby("Gender", as_index=False)["SN"].nunique()

gender_group = purchase_data.groupby("Gender", as_index=False)["Purchase ID"].count()

gender_group = gender_count.merge(gender_group, how="outer", on="Gender")

gender_group["Demographic Percentage"] = gender_group["Purchase ID"] / (len(purchase_data))

gender_group = gender_group.rename(columns={"Purchase ID": "Purchase Count", "SN": "Unique Player Count"})

gender_group

,Gender,Unique Player Count,Purchase Count,Demographic Percentage
0,Female,81,113,0.144872
1,Male,484,652,0.835897
2,Other / Non-Disclosed,11,15,0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
##### Create New Columns with calculations into grouped frame, then merge 

## Avg Price by Gender
AvgGenderPrice = purchase_data.groupby("Gender", as_index=False)["Price"].mean()

AvgGenderPrice = AvgGenderPrice.rename(columns={"Price": "Average Purchase Price"})

gender_summary = gender_group.merge(AvgGenderPrice, how="outer", on="Gender")

gender_summary

## Total Purhcase Value

TotalGenderPrice = purchase_data.groupby("Gender", as_index=False)["Price"].sum()

TotalGenderPrice = TotalGenderPrice.rename(columns={"Price": "Total Purchase Value"})

gender_summary = gender_summary.merge(TotalGenderPrice, how="outer", on="Gender")

## Avg Per Person

gender_summary["Avg Total Purchase Per Person"] = (gender_summary["Total Purchase Value"] / gender_summary["Unique Player Count"])

##### Reset The Index to be on Gender for lookups

gender_summary = gender_summary.set_index("Gender")

##### Format Gender Summary Frame



#### gender_Summary Test
gender_summary

,Unique Player Count,Purchase Count,Demographic Percentage,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,,,
Female,81,113,0.144872,3.203009,361.94,4.468395
Male,484,652,0.835897,3.017853,1967.64,4.065372
Other / Non-Disclosed,11,15,0.019231,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
##### Age Demo Copy to work with

age_demo = purchase_data.copy()

##### Create Bins

age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

##### Create and sort to bins

age_demo["Age Group"] = pd.cut(age_demo["Age"], age_bins, labels=bin_names, include_lowest=True)

#age_group = age_demo.groupby("Age Summary")

In [8]:
##### Age Group Column work

age_quick_summary = age_demo.groupby("Age Group", as_index=False)["SN"].nunique()

unique_players = age_demo["SN"].nunique()

age_quick_summary["Percentage of Players"] = age_quick_summary["SN"] / (unique_players)

age_quick_summary = age_quick_summary.rename(columns={"SN": "Unique Player Count"})

############ FORMATTING OF QUICK AGE SUMMARY ################

age_quick_summary

  Age Group  Unique Player Count  Percentage of Players
0       <10                   17               0.029514
1     10-14                   22               0.038194
2     15-19                  107               0.185764
3     20-24                  258               0.447917
4     25-29                   77               0.133681
5     30-34                   52               0.090278
6     35-40                   31               0.053819
7       40+                   12               0.020833

In [16]:
##### FULL AGE SUMMARY BLOCK #####

## Quick copy to work with full summary while keeping quick age summary for recall ##
age_summary = age_quick_summary.copy()

## Avg. Price
AvgAgePrice = age_demo.groupby("Age Group", as_index=False)["Price"].mean()

age_summary = age_summary.merge(AvgAgePrice, how="outer", on="Age Group")

age_summary = age_summary.rename(columns={"Price": "Average Purchase Price"})

## Total Purchase Value

TotalAgeValue = age_demo.groupby("Age Group", as_index=False)["Price"].sum()

age_summary = age_summary.merge(TotalAgeValue, how="outer", on="Age Group")

age_summary = age_summary.rename(columns={"Price": "Total Purchase Value"})

## Avg Total per person

age_summary["Avg. Total Purchase per Player"] = (age_summary["Total Purchase Value"] / age_summary["Unique Player Count"])

#### Reset Index to be on [Age Group]

age_summary = age_summary.set_index("Age Group")

############# FORMATTING OF AGE SUMMARY ###############

### TEST LINE ###
age_summary

,Unique Player Count,Percentage of Players,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Player
Age Group,,,,,
<10,17,0.029514,3.353478,77.13,4.537059
10-14,22,0.038194,2.956429,82.78,3.762727
15-19,107,0.185764,3.035956,412.89,3.858785
20-24,258,0.447917,3.052219,1114.06,4.318062
25-29,77,0.133681,2.900990,293.00,3.805195
30-34,52,0.090278,2.931507,214.00,4.115385
35-40,31,0.053819,3.601707,147.67,4.763548
40+,12,0.020833,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
####### TOP SPENDERS BLOCK #########

##Copy of main DF for SN grouping
sn_group = purchase_data.copy()

## Purchase Count block

sn_summary = sn_group.groupby("SN", as_index=False)["Purchase ID"].count()

## Avg. Purchase Price

AvgSNPrice = sn_group.groupby("SN", as_index=False)["Price"].mean()

sn_summary = sn_summary.merge(AvgSNPrice, how="outer", on="SN")

## Total Purchase Value

TotalSNValue = sn_group.groupby("SN", as_index=False)["Price"].sum()

sn_summary = sn_summary.merge(TotalSNValue, how="outer", on="SN")

## Sort by purchases

sn_summary = sn_summary.sort_values(by="Purchase ID", ascending=False)

#### FORMATTING ####

# Rename Columns
sn_summary = sn_summary.rename(columns={"SN": "Player Name", "Purchase ID": "Number of Purchases", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value"})

# Set Index
sn_summary = sn_summary.set_index("Player Name")

## Test Line
sn_summary.head()

             Number of Purchases  Average Purchase Price  Total Purchase Value
Player Name
Lisosia93                      5                3.792000                 18.96
Iral74                         4                3.405000                 13.62
Idastidru52                    4                3.862500                 15.45
Asur53                         3                2.480000                  7.44
Inguron55                      3                3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80