### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [3]:
Player_count = purchase_data["SN"].nunique()

Player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
purchases = len(purchase_data)

unique_items = purchase_data["Item ID"].nunique()

avg_price = purchase_data["Price"].mean()

revenue = purchase_data["Price"].sum()

basic_summary_df = pd.DataFrame({"Unique Item Count": unique_items, "Average Item Price": avg_price, "Total Purchases": purchases, "Total Item Revenue": revenue}, index=[0])

### Formatting ###

basic_summary_df["Average Item Price"] = basic_summary_df["Average Item Price"].map("${:.2f}".format)

basic_summary_df["Total Item Revenue"] = basic_summary_df["Total Item Revenue"].map("${:.2f}".format)

###

basic_summary_df

   Unique Item Count Average Item Price  Total Purchases Total Item Revenue
0                179              $3.05              780           $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [47]:
gender_count = purchase_data.groupby("Gender", as_index=False)["SN"].nunique()

gender_group = purchase_data.groupby("Gender", as_index=False)["Purchase ID"].count()

gender_group = gender_count.merge(gender_group, how="outer", on="Gender")

gender_group["Demographic Percentage"] = gender_group["Purchase ID"] / (len(purchase_data)) * 100

gender_group = gender_group.rename(columns={"Purchase ID": "Purchase Count", "SN": "Unique Player Count"})

gender_group

,Gender,Unique Player Count,Purchase Count,Demographic Percentage
0,Female,81,113,14.487179
1,Male,484,652,83.589744
2,Other / Non-Disclosed,11,15,1.923077

In [83]:
gender_demo_basic = gender_group.copy()

gender_demo_basic["Demographic Percentage"] = gender_demo_basic["Demographic Percentage"].map("{:.2f}%".format)

gender_demo_basic

,Gender,Unique Player Count,Purchase Count,Demographic Percentage
0,Female,81,113,14.49%
1,Male,484,652,83.59%
2,Other / Non-Disclosed,11,15,1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
##### Create New Columns with calculations into grouped frame, then merge 

## Avg Price by Gender
AvgGenderPrice = purchase_data.groupby("Gender", as_index=False)["Price"].mean()

AvgGenderPrice = AvgGenderPrice.rename(columns={"Price": "Average Purchase Price"})

gender_summary = gender_group.merge(AvgGenderPrice, how="outer", on="Gender")

#gender_summary

## Total Purhcase Value

TotalGenderPrice = purchase_data.groupby("Gender", as_index=False)["Price"].sum()

TotalGenderPrice = TotalGenderPrice.rename(columns={"Price": "Total Purchase Value"})

gender_summary = gender_summary.merge(TotalGenderPrice, how="outer", on="Gender")

## Avg Per Person

gender_summary["Avg Total Purchase Per Person"] = (gender_summary["Total Purchase Value"] / gender_summary["Unique Player Count"])

##### Reset The Index to be on Gender for lookups

gender_summary = gender_summary.set_index("Gender")

##### Format Gender Summary Frame

gender_summary["Demographic Percentage"] = gender_summary["Demographic Percentage"].map("{:.2f}%".format)

gender_summary["Average Purchase Price"] = gender_summary["Average Purchase Price"].map("${:.2f}".format)

gender_summary["Total Purchase Value"] = gender_summary["Total Purchase Value"].map("${:.2f}".format)

gender_summary["Avg Total Purchase Per Person"] = gender_summary["Avg Total Purchase Per Person"].map("${:.2f}".format)

#### gender_Summary Test
gender_summary

,Unique Player Count,Purchase Count,Demographic Percentage,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,,,
Female,81,113,14.49%,$3.20,$361.94,$4.47
Male,484,652,83.59%,$3.02,$1967.64,$4.07
Other / Non-Disclosed,11,15,1.92%,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
##### Age Demo Copy to work with

age_demo = purchase_data.copy()

##### Create Bins

age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

##### Create and sort to bins

age_demo["Age Group"] = pd.cut(age_demo["Age"], age_bins, labels=bin_names, include_lowest=True)

#age_group = age_demo.groupby("Age Summary")

In [54]:
##### Age Group Column work

age_quick_summary = age_demo.groupby("Age Group", as_index=False)["SN"].nunique()

unique_players = age_demo["SN"].nunique()

age_quick_summary["Percentage of Players"] = age_quick_summary["SN"] / (unique_players) * 100

age_quick_summary = age_quick_summary.rename(columns={"SN": "Unique Player Count"})

######### FORMATTING OF QUICK AGE SUMMARY ##############
age_quick_summary["Percentage of Players"] = age_quick_summary["Percentage of Players"].map("{:.2f}%".format)

age_quick_summary

  Age Group  Unique Player Count Percentage of Players
0       <10                   17                 2.95%
1     10-14                   22                 3.82%
2     15-19                  107                18.58%
3     20-24                  258                44.79%
4     25-29                   77                13.37%
5     30-34                   52                 9.03%
6     35-40                   31                 5.38%
7       40+                   12                 2.08%

In [92]:
##### FULL AGE SUMMARY BLOCK #####

## Quick copy to work with full summary while keeping quick age summary for recall ##
age_summary = age_quick_summary.copy()

## Total Purchases

TotalAgePurchases = age_demo.groupby("Age Group", as_index=False)["Purchase ID"].count()

age_summary = age_summary.merge(TotalAgePurchases, how="outer", on="Age Group")

age_summary = age_summary.rename(columns={"Purchase ID": "Purchase Count"})

## Avg. Price
AvgAgePrice = age_demo.groupby("Age Group", as_index=False)["Price"].mean()

age_summary = age_summary.merge(AvgAgePrice, how="outer", on="Age Group")

age_summary = age_summary.rename(columns={"Price": "Average Purchase Price"})

## Total Purchase Value

TotalAgeValue = age_demo.groupby("Age Group", as_index=False)["Price"].sum()

age_summary = age_summary.merge(TotalAgeValue, how="outer", on="Age Group")

age_summary = age_summary.rename(columns={"Price": "Total Purchase Value"})

## Avg Total per person

age_summary["Avg. Total Purchase per Player"] = (age_summary["Total Purchase Value"] / age_summary["Unique Player Count"])

#### Reset Index to be on [Age Group]

age_summary = age_summary.set_index("Age Group")

############# FORMATTING OF AGE SUMMARY ###############

age_summary["Average Purchase Price"] = age_summary["Average Purchase Price"].map("${:.2f}".format)

age_summary["Total Purchase Value"] = age_summary["Total Purchase Value"].map("${:.2f}".format)

age_summary["Avg. Total Purchase per Player"] = age_summary["Avg. Total Purchase per Player"].map("${:.2f}".format)

### TEST LINE ###
age_summary

,Unique Player Count,Percentage of Players,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Player
Age Group,,,,,,
<10,17,2.95%,23,$3.35,$77.13,$4.54
10-14,22,3.82%,28,$2.96,$82.78,$3.76
15-19,107,18.58%,136,$3.04,$412.89,$3.86
20-24,258,44.79%,365,$3.05,$1114.06,$4.32
25-29,77,13.37%,101,$2.90,$293.00,$3.81
30-34,52,9.03%,73,$2.93,$214.00,$4.12
35-40,31,5.38%,41,$3.60,$147.67,$4.76
40+,12,2.08%,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
####### TOP SPENDERS BLOCK #########

##Copy of main DF for SN grouping
sn_group = purchase_data.copy()

## Purchase Count block

sn_summary = sn_group.groupby("SN", as_index=False)["Purchase ID"].count()

## Avg. Purchase Price

AvgSNPrice = sn_group.groupby("SN", as_index=False)["Price"].mean()

sn_summary = sn_summary.merge(AvgSNPrice, how="outer", on="SN")

## Total Purchase Value

TotalSNValue = sn_group.groupby("SN", as_index=False)["Price"].sum()

sn_summary = sn_summary.merge(TotalSNValue, how="outer", on="SN")

## Sort by purchases

sn_summary = sn_summary.sort_values(by="Purchase ID", ascending=False)

#### FORMATTING ####

# Rename Columns
sn_summary = sn_summary.rename(columns={"SN": "Player Name", "Purchase ID": "Number of Purchases", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value"})

# Set Index
sn_summary = sn_summary.set_index("Player Name")

## Cell Formatting

sn_summary["Average Purchase Price"] = sn_summary["Average Purchase Price"].map("${:.2f}".format)

sn_summary["Total Purchase Value"] = sn_summary["Total Purchase Value"].map("${:.2f}".format)

##### Test Line
sn_summary.head()

             Number of Purchases Average Purchase Price Total Purchase Value
Player Name
Lisosia93                      5                  $3.79               $18.96
Iral74                         4                  $3.40               $13.62
Idastidru52                    4                  $3.86               $15.45
Asur53                         3                  $2.48                $7.44
Inguron55                      3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
#### POPULAR ITEM ####

## Copy of main to use
item_group = purchase_data.copy()

## Purchase Count 
item_summary = item_group.groupby(["Item ID", "Item Name"], as_index=False)["Purchase ID"].count()

## Average Item Price
AvgItemPrice = item_group.groupby(["Item ID", "Item Name"], as_index=False)["Price"].mean()

item_summary = item_summary.merge(AvgItemPrice, how="outer", on=["Item ID", "Item Name"])

## Total Purchase Value
TotalItemValue = item_group.groupby(["Item ID", "Item Name"], as_index=False)["Price"].sum()

item_summary = item_summary.merge(TotalItemValue, how="outer", on=["Item ID", "Item Name"])

##### FORMATTING #####
#rename Columns
item_summary = item_summary.rename(columns={"Purchase ID": "Purchase Count", "Price_x": "Average Item Price", "Price_y": "Total Purchase Value"})

# Sort
item_summary = item_summary.sort_values(by="Purchase Count", ascending=False)

# Set Index
item_summary = item_summary.set_index(["Item ID", "Item Name"])

# Number Formatting

item_summary["Average Item Price"] = item_summary["Average Item Price"].map("${:.2f}".format)

item_summary["Total Purchase Value"] = item_summary["Total Purchase Value"].map("${:.2f}".format)

## Test Line
item_summary.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [95]:
#### PROFIT BLOCK ####

## Copy Item Summary for profit sorting
profit_summary = item_summary.copy()

profit_summary = profit_summary.sort_values(by="Total Purchase Value", ascending=False)

profit_summary.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36

In [90]:
########## DATA FRAME DUMP ###############

###    Remove the notemark to test     ###

# -------------------------------------- #

#print(f"Total Players: {Player_count}")

#basic_summary_df

#gender_demo_basic

#gender_summary

#age_quick_summary

#age_summary

#sn_summary.head(10)

#item_summary.sample(10)

#profit_summary.head(10)